@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/colors.scss";
@import "./styles/icons.scss";
@import "./styles/fonts.scss";
@import "./styles/theme.scss";
@import './styles/material.css';

.border-bottom-orange {
  border-bottom: 2px solid $orange-color;
}

h2.title-divider {
  color: #666;
  font-size: 14px;
  display: inline-block;
  //margin-top: 1.5rem;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
