<div class="col-lg-12 fundo">
  <div class="col-lg-3 logo">
    <img src="/assets/img/logo itau.svg" alt="">
  </div>


  <div class="col-sm-12 d-flex justify-content-center">
    <div class="circle">
      <div class="circle-2">
        <div class="title">
          <i class="icon-itaufonts_itoken_aplicativo"></i>
          <h2>validador i-token</h2>
        </div> <!-- End Title -->
        <app-input-login></app-input-login>
      </div> <!-- End Circle 2 -->
      </div> <!-- End Circle -->
      </div>

      
