.mat-form-field {
    width: 300px !important;
    color: #fff !important;
 }

 .mat-form-field-label {
     color: #fff;
     font-size: 12px;
 }

 .mat-form-field-label span {
     font-weight: 100 !important;
 }

 .mat-form-field-wrapper {
     padding-bottom: 1rem;
     margin: 0;
 }

 .ng-tns-c30-0, .ng-tns-c30-1, .ng-tns-c30-2 {
     color: white !important;
     opacity: 85%;
 }


 